<div class="navbar">

            <a href="/">
                <div class="navbar_areabutton">USER AREA</div>
            </a>
</div>

<!--Sub Navigation Area-->
<div class="navbar_submenu">

    <div class="navbar_submenu_wrapper">

        <div class="navbar_submenu_link"><a href="/admin/">Admin Home</a></div>

        <div class="navbar_submenu_link"><a href="/adminusers/">User Managment</a></div>

        <div class="navbar_submenu_link"><a href="/adminskills/">Skill Catalog</a></div>

        <div class="navbar_submenu_link"><a href="/admincampaigns/">Campaigns</a></div>

        <div class="navbar_submenu_link"><a href="/adminsettings/">Global Settings</a></div>

        <div class="navbar_submenu_link"><a href="/adminhelp/">Help</a></div>

    </div>

</div>
