
    <md-content class="md-padding">
    <span>TASKS API</span>
        <md-nav-bar md-no-ink-bar="disableInkBar"
                    md-selected-nav-item="currentNavItem"
                    nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="/" name="Home">Home</md-nav-item>  
            <md-nav-item md-nav-href="/dashboard/" name="Dashboard">Dashboard</md-nav-item>
            <md-nav-item md-nav-href="/settings/" name="Settings">Settings</md-nav-item>        
            <md-nav-item md-nav-href="/register/" name="Register">Register</md-nav-item> 
            <md-nav-item md-nav-href="/login/" name="Login">Login</md-nav-item>   
            <md-nav-item md-nav-href="/admin/" name="Admin">Admin</md-nav-item>         
        </md-nav-bar>
    </md-content>

