<!--Navagation Bar - Primary -->
<div ng-include="'/1.1.1/html/components/navbar_user.html'"></div>

<div class="layout_main">

    <div class="layout_wrapper">

        <div class="layout_full">

            <div class="layout_full_title">Register</div>

            <div class="layout_full_text">Sign Up is Quick and Easy</div>

            <div style="clear: both;padding-bottom: 30px;"></div>
            
            <!--REGISTER FORM BEGIN-->
            
            <form name="RegisterForm" ng-submit="register()" novalidate>
            
                <input class="user_search_input" placeholder="Email" type="text" name="Email" ng-model="register.email" />           

                <div style="clear: both;padding-bottom: 30px;"></div>
                
                <input class="user_search_input" placeholder="Oraganization/Company Name" type="text" name="Organization" ng-model="register.organization" />           

                <div style="clear: both;padding-bottom: 30px;"></div>
                <button class="user_search_button" ng-click="submit()" style="border:none;width:150px;">REGISTER</button>
                
            </form>
                   
            <!--Link to Register Area-->
            <div style="margin-top:30px;">
                <a class="form_message" href="/login/">Have an account already? Login Here</a>
            </div>

        </div>

    </div>

    <div style="clear:both; height:50px;"></div>

</div>


<!--Footer-->
<div ng-include="'/1.1.1/html/components/footer.html'"></div>
